.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  line-height: 34px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
}

.square:hover {
  background: rgba(128, 128, 128, 0.103);
}
